body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 24px;
    max-width: 1200px;

    background: linear-gradient(180deg, #ffa24d 0%, #ff5630 97.76%);
    border-radius: 1.2rem;
}

.text-one {

    /* margin-bottom: 10px; */
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    font-size: 17px;
}

.text-two {
    /* margin-bottom: 10px; */
    color: #fff;
    font-size: 38px;
    line-height: 28px;
    font-weight: 700;
}

.text-three {
    color: #121212;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.text-four {
    color: #fdf6c2;
    font-size: 19px;
    line-height: 2.4rem;
    font-weight: 400;
}

.price {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 700;
}

.conditions-link{
    color: #fdf6c2;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

.conditions {
    color: #fff;
    text-decoration: underline;
}

.left-wrapper {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: block;
    padding: 15px 0;
}

.main-wrapper {
    padding: 10px 0px;
    display: flex;
}

.form-wrapper {
    padding: 20px 30px;
}

.form-text {
    text-align: center;
    color: #ff5630;
    font-weight: 700;
    font-size: 29px;
    line-height: 33px;
    margin-bottom: 20px;
}

.form-text-orange {
    
    color: #004989;

}

.form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
}

label {
    height: 84px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #004989;
    justify-content: space-around;
}

input {
    /* padding: px 2px; */
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 10rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #004989;
    padding: 0 2rem;
    width: 100%;
    background-color: #f1f7fe;
}

label:not(:last-child) {
    margin-bottom: 19px;
}

.form-lebel-text {
    width: 210px;
    margin-bottom: 8px;
}

input::placeholder {
    font-size: 15px;

    color: #00498970; 
}

.btn {
    margin-top: 30px;
    padding: 1.2rem 2.4rem;
    border: 0;
    background-color: #ff5630;
    border-radius: 5rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    box-shadow: none;
    text-shadow: none;

    transition: all 150ms linear;
}

.btn:hover, .btn:focus {
background-color: rgb(251, 253, 255);
color: rgb(31, 31, 31);
}

